body
{
	background-color: #CCFFCC;
}

#glowny_kontener
{
	height: 90%;
	width: 90%;
	margin: auto;
}

#baner
{
	padding:20px;
	background-color: #66CC99;
	color: white;
	font-size: 30px;
	text-align: center;
	height: 8%;
	margin-top:2%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

#blok_pod_banerem
{
	height: 20%;
	font-size: 20px;
	text-align: center;
	border-left: 1px #66CC99 solid;
	border-right: 1px #66CC99 solid;
	border-bottom: 1px #66CC99 solid;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	
}

#panel_lewy
{
	background-color: #818181;
	width: 48%;
	height: 90%;
	color: white;
	margin: 1%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	float: left;
}

#panel_prawy
{
	background-color: #818181;
	width: 48%;
	height: 90%;
	color: white;
	margin-top: 1%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	float: left;
}

#p
{
	text-align: justify;
	margin-right: 1%;
	margin-left: 1%;
	line-height: 1,8em;
}

h3
{
	color: #66CC99;
	text-indent: 4%;
}

img
{
	height: 150px;
	width: 200px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	filter: sepia(60%);
	margin: 8px;
}
table
{
	height:100%;
	width:100%;
	text-align: center;
}